html {
    font-size: 62.5%;
  }
  

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

i.date-icon {
    cursor: pointer;
}

div.tab-bar {
    border-right: 0.1rem solid rgba(0,0,0,0.14);
}

div.main-content {
    display: flex;
    height: 100vh;
}

div.content-container {
    margin-left: 2rem;
    margin-top: 2rem;
    flex-grow: 1;
}

div.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 0.1rem solid lightgray;
    background: white;
    z-index: 1000;
}

div.tab-inner {
    cursor: pointer;
    padding: 0.5rem 2rem;
    width: 100%;
}

div.unselected-tab:hover {
    background-color: lightgray;
    color: black;
}

div.date-picker-container {
    margin-bottom: 0.5rem;
}

div.date-picker {
    text-align: center;
    user-select: none;
}

input.date-picker-input {
    font-family: inherit;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 20rem;
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}

div.datapoint-container {
    margin-top: 1em;
}

div.datapoint-secondaryData {
    margin-left: 2em;
}

div.graph-canvas-container {
    height: 10rem;
    width: 100rem;
    position: relative;
}

ul.sidenav-relative {
    position: relative;
    transform: translateX(0%);
}

.qs-datepicker-container{
    font-size: 1.5rem;
}